.myPage {
    background-color: teal;
    background-image: url("pattern.jpg");
}



.box {
    background-color: seashell;
    font-size: 30px;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    width: 700px;
    height: 200px;
    padding: 300px;
    margin-top: 70px;
    margin-left: 350px;
}


h4 {
    color: grey;
    font-size: 20px;
}
.myButton1 {
    color:white;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    background-color: teal;
    border: 1px solid teal;
    border-radius: 10px;
    padding: 10px;
}

.myButton1:hover {
    background-color: seashell;
    color: teal
}


.myButton2 {
    color:teal;
    margin-left: 15px;
    font-family: "Georgia", 'Times New Roman', Times, serif;
    background-color: transparent;
    border: 1px solid teal;
    border-radius: 10px;
    padding: 10px;
}

.myButton2:hover {
    background-color: teal;
    color: seashell
}